.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
data-raw/dev_data
data-raw/dev_docs
data-raw/dev_figures
data-raw/dev_tutorials
data-raw/r_docs
data-raw/dev_solutions
data-raw/dev_code
doc
Meta
*.DS_Store
inst/tutorials/*/*.html
